stages:
  - build
  - e2e_test
  - test
  - deploy

cache:
  paths:
    - node_modules/

before_script:
  
  - |
    if (-not (Get-Command npm -ErrorAction SilentlyContinue)) {
      Write-Host "Installing Node.js..."
      $nodejsUrl = "https://nodejs.org/dist/v18.17.0/node-v18.17.0-x64.msi"
      $installerPath = "$env:TEMP\nodejs_installer.msi"
      Invoke-WebRequest -Uri $nodejsUrl -OutFile $installerPath
      Start-Process msiexec.exe -Wait -ArgumentList "/i "$installerPath" /quiet"
      $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
    }

build:
  stage: build
  variables:
    CI: "false"  
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - dist/



cypress_e2e:
  stage: e2e_test
  image: cypress/browsers:node18.12.0-chrome107
  script:
   - $ErrorActionPreference = "Stop"  
    - npm install  
    - Start-Process npm -ArgumentList "run preview" -NoNewWindow -Wait
    - Start-Sleep -Seconds 10  
    - npx cypress run --browser chrome
  artifacts:
    when: always
    paths:
      - cypress/videos/*
      - cypress/screenshots/*
    expire_in: 1 week
  allow_failure: false



deploy_staging:
  stage: deploy
  script:
    - |
      # Create Docker network if it doesn't exist
      if (-not (docker network inspect spinningmotion_network 2>$null)) {
        docker network create spinningmotion_network
      }
      $containerId = docker ps -q --filter "name=spinningmotion-frontend"
      if ($containerId) {
        docker stop $containerId
        docker rm $containerId
      }
    - docker build -t spinningmotion-frontend:latest .
    - docker run -d --name spinningmotion-frontend --network spinningmotion_network -p 3000:80 spinningmotion-frontend:latest
  only:
    - main
  environment:
    name: staging
